/* 전체 컨테이너 스타일 */
.edituser-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--Noto-Sans-KR);
}

/* 헤더 스타일 */
.edituser-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-inline: 25px;
  font-size: 18px;
  font-weight: bold;
}

/* 뒤로가기 버튼 스타일 */
.edituser-backward img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* 저장 버튼 스타일 */
.edituser-save {
  cursor: pointer;
  color: blue;
  font-weight: 400;
  font-size: 14px;
}

/* 바디 스타일 */
.edituser-body {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* 프로필 이미지 컨테이너 스타일 */
.edituser-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.edituser-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden; /* 이미지가 컨테이너를 넘지 않도록 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.edituser-profile-image img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 이미지가 일정한 비율을 유지하며, 컨테이너를 꽉 채우도록 */
}

.edituser-profile-change {
  margin-top: 10px;
  font-size: 14px;
  color: #e8ac37;
}

.edituser-username-input-wrapper {
  display: flex;
  gap: 5px;
}

.edituser-check-button {
  padding: 3px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px; /* 원하는 고정 너비로 설정 */
  height: 38px;
}

.edituser-username-check-message {
  padding: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #e6aa32;
}

/* 닉네임 및 자기소개 타이틀 스타일 */
.edituser-title {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

/* 입력 폼 스타일 */
.edituser-username-container {
  margin-bottom: 50px;
}

.edituser-content {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 500;
  resize: none;
}

.edituser-content:focus {
  outline: none;
  border-color: #e8ac37;
}
