.Initialization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #ffc700;
}

.Initialization-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.Initialization-title,
.Initialization-text,
.Initialization-version {
  font-family: var(--Noto-Sans-KR);
  color: #0d2af0;
}

.Initialization-title {
  font-family: var(--Outfit);
}

.Initialization-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 120px; /* 1페이지 아이콘 크기를 줄이고 아래로 내리기 위해 추가 */
}

.Initialization-text {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  white-space: pre-wrap;
  padding: 40px;
  line-height: 1.2;
  margin-top: 100px;
}

.Initialization-sign-up-button,
.Initialization-sign-in {
  font-weight: 700;
  text-align: center;
  color: #0d2af0;
}

.Initialization-icon-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: 50vw;
  max-width: 180px;
  max-height: 180px;
}

.Initialization-sign-up-button {
  position: absolute;
  top: 75%;
  background-color: #ffc700;
  border: 2px solid #0d2af0;
  border-radius: 12px;
  padding: 10px 20px;
}

.page-1 {
  width: 50vw;
  height: 50vw;
  max-width: 150px;
  max-height: 150px;
  top: 30%;
}

.Initialization-sign-in {
  position: absolute;
  top: calc(80% + 45px + 16px);
  font-size: 14px;
  text-align: center;
}

.Initialization-version {
  position: absolute;
  top: 90%;
  font-size: 14px;
  text-align: center;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .Initialization-icon-container {
    width: 70vw;
    height: 70vw;
  }
}

@media screen and (max-width: 480px) {
  .Initialization-icon-container {
    width: 80vw;
    height: 80vw;
  }
}
