/* SignUp 컴포넌트 안에서만 전역 적용 */
.SignUp-container .required {
  color: #ee2448;
}

/* First Step Styles (약관 동의) */
/* 전체 레이아웃 및 배경 */
.SignUp-container {
  min-height: 100vh; /* 최소 높이를 화면 높이로 설정 */
  margin: auto;
  padding: 2rem;
  background: #fafafa;
  position: relative;
  box-sizing: border-box; /* 패딩이 포함된 크기로 계산 */
  overflow-y: auto; /* 내용이 많을 경우 스크롤 가능하도록 설정 */
}

/* 페이지 헤더 */
.SignUp-title {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #000000;
  margin-left: 34px;
  margin-top: 137px;
}

.SignUp-description {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  margin-left: 34px;
  margin-top: 20px;
}

/* 약관 동의 섹션 */
.SignUp-terms-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px;
  position: relative; /* absolute -> relative로 변경 */
  width: 100%; /* 너비를 100%로 설정하여 화면에 맞추기 */
  margin-top: 20px; /* 상단 여백 설정 */
}

/* 필수 약관 전체 동의 */
.SignUp-agreement {
  width: 100%; /* 너비를 100%로 설정하여 반응형으로 변경 */
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.SignUp-agreement.active {
  background: #ffffff;
  color: #0d2af0;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
}

.SignUp-agreement .text {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.SignUp-agreement.active .text {
  color: #0d2af0;
}

/* 약관 세부 항목 */
.SignUp-term-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 너비를 100%로 설정하여 반응형으로 변경 */
  height: 30px; /* 높이 줄이기 */
  border-radius: 12px;
  background: none;
  box-shadow: none; /* 그림자 제거 */
  padding: 0 10px; /* 좌우 패딩 줄이기 */
  margin-bottom: 8px; /* 아래 간격 줄이기 */
  cursor: pointer;
}

.SignUp-term-item.active .text,
.SignUp-term-item.active .icon {
  color: #0d2af0;
}

.SignUp-term-item .text {
  display: flex;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #979797;
}

.SignUp-term-item .required {
  color: #ee2448;
  font-weight: 700;
  margin-left: 5px;
}

.SignUp-term-item .icon {
  font-size: 1.5rem;
  color: #979797;
  background: none;
  border: none;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Continue Button */
.SignUp-continue-btn {
  width: 100%; /* 버튼이 화면 너비에 맞게 확장되도록 설정 */
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #007bff;
  color: white;
  text-align: center;
  margin-top: 20px; /* 상단 여백 추가 */
  box-shadow: 0px 4px 12px rgba(13, 42, 240, 0.4);
}

.SignUp-continue-btn.enabled {
  background-color: #0d2af0; /* 강조된 상태 */
  color: #ffc700; /* 텍스트 색상 */
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
}

.SignUp-continue-btn.disabled {
  background-color: #d4d4d4; /* 비활성화 상태 */
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.03);
}

/* BackIcon과 BackIconRight의 크기 조절 */
.SignUp-back-btn img {
  width: 20px; /* 적당한 크기로 변경 */
  height: 20px; /* 적당한 크기로 변경 */
}

.SignUp-term-item .icon img {
  width: 15px; /* 적당한 크기로 변경 */
  height: 15px; /* 적당한 크기로 변경 */
}


/* 기타 스타일 */
.SignUp-profile-pic-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1; /* 기본 이미지의 z-index를 설정하여 가장 위에 렌더링되도록 설정 */
}

.SignUp-profile-pic {
  width: 120px;
  height: 120px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative; /* overlay를 위치시키기 위해 relative 설정 */
}

.SignUp-profile-pic-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정중앙에 위치시키기 위한 설정 */
  color: #ffffff; /* 표식의 색상 */
  font-size: 24px; /* 아이콘 또는 텍스트 크기 */
  pointer-events: none; /* overlay가 클릭 이벤트를 방해하지 않도록 설정 */
}

.SignUp-profile-pic-overlay i {
  color: #ffffff; /* 아이콘의 색상 */
  font-size: 24px; /* 아이콘의 크기 */
  z-index: 1; /* 아이콘의 z-index를 낮게 설정하여 이미지 아래에 위치하게 설정 */
}

.SignUp-profile-pic img {
  width: 100%; /* 이미지가 컨테이너에 맞게 조정되도록 설정 */
  height: 100%;
  border-radius: 50%; /* 둥근 모양 유지 */
  z-index: 2; /* 이미지를 아이콘보다 위로 렌더링되도록 설정 */
}

.SignUp-profile-pic input {
  display: none;
}

.SignUp-form-group {
  margin-bottom: 1rem;
  position: relative;
}

.SignUp-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.SignUp-form-group input {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 비밀번호 필드의 아이콘 버튼 */
.SignUp-eye-btn {
  position: absolute;
  right: 10px; /* 오른쪽에 고정된 위치 */
  top: 50%; /* 상단에서 50% */

  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem; /* 아이콘 크기 조정 */
  color: #686868; /* 아이콘 색상 */
  z-index: 2; /* 아이콘이 다른 요소들 위에 오도록 */
  width: 24px; /* 버튼 크기 고정 */
  height: 24px; /* 버튼 크기 고정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 입력 필드의 오른쪽 패딩을 넓게 설정해 아이콘이 들어갈 공간 확보 */
.SignUp-form-group input {
  padding-right: 50px; /* 아이콘이 위치할 공간을 더 확보 */
  box-sizing: border-box; /* 패딩이 포함된 크기로 계산 */
}

/* 아이콘 자체에 대한 스타일 */
.SignUp-eye-btn i {
  font-size: 18px; /* 아이콘 크기 조정 */
  color: #686868; /* 아이콘 색상 */
  margin-top: 4px; /* 아이콘을 아래로 미세 이동 */
}

.SignUp-error-message {
  color: red;
  font-size: 0.875rem;
  position: absolute; /* 위치를 절대적으로 설정 */
  top: 50%; /* 입력 필드의 중간 높이에 맞추기 */
  right: 0; /* 오른쪽 끝에 위치 */
  transform: translateY(-155%); /* 중간 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
  text-align: right; /* 오른쪽 정렬 */
}

.SignUp-success-message {
  color: blue;
  font-size: 0.875rem;
  position: absolute; /* 위치를 절대적으로 설정 */
  top: 50%; /* 입력 필드의 중간 높이에 맞추기 */
  right: 0; /* 오른쪽 끝에 위치 */
  transform: translateY(-185%); /* 중간 정렬 */
  white-space: nowrap; /* 줄바꿈 방지 */
  text-align: right; /* 오른쪽 정렬 */
}

.nickname-input-container {
  display: flex;
  align-items: center;
}

.nickname-check-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nickname-check-button:hover {
  background-color: #0056b3;
}

/* 완료 메시지 화면 스타일 */
.SignUp-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.SignUp-welcome-title {
  margin-top: 60px; /* 필요에 따라 값을 조정 */
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 20px;
}

.SignUp-welcome-message {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  margin-bottom: 40px;
}

.SignUp-complete-btn {
  width: 370px;
  height: 44px;
  background: #0d2af0;
  box-shadow: 0px 4px 12px rgba(13, 42, 240, 0.4),
    inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffc700;
  cursor: pointer;
}
