.post {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  position: relative;
  padding: 10px 0px;
}

.post.selected {
  background-color: transparent; /* 선택된 상태에서 배경색 제거 */
}

.post.selected .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 223, 0, 0.5);
  pointer-events: none; /* 오버레이가 클릭 이벤트를 차단하지 않도록 설정 */
  z-index: 2; /* 오버레이가 이미지 위에 오도록 설정 */
  border-radius: 6px; /* 이미지의 모서리 둥글기와 일치 */
}

.post.selected .overlay img {
  width: 80px;
  height: 80px;
}

.post:hover {
  transform: translateY(-10px); 
}

.post-images {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 6px;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #c6c5c5;
}

.post-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-location {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8px 0 0 8px;
  margin-top: 175px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  z-index: 3;
}

.post-location img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.post-title {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  padding: 5px 8px;
}

.interest-menu {
  display: flex;
  padding: 5px 8px;
  white-space: nowrap;
}

.views {
  display: flex;
  align-items: center;
}

.views span {
  font-size: 10px;
  font-weight: bold;
  transform: scale(0.75);
  transform-origin: left;
}

.hearts {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.hearts span {
  color: red;
  font-size: 10px;
  transform: scale(0.75);
  transform-origin: left;
  font-weight: bold;
}

.views img {
  width: 17px;
  height: 17px;
}

.hearts img {
  width: 11px;
  height: 11px;
}

.time-ago {
  width: 100%;
  display: flex;
  color: #ffb300;
  transform: scale(0.75);
  transform-origin: right;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .post {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 1024px) {
  .post {
    max-width: 100%;
    min-width: 100%;
  }
}
