
.post {
  width: 100%;
  max-width:300px;
  min-width:250px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;
  background-color: #ffffff;
  transition: transform 0.8s ease;
  box-sizing: border-box;
}

.post:hover {
  transform: translateY(-10px); 
  border: none;

}

.post-images {
  position: relative;
  width: 100%; 
  height: 220px; 
  border-radius: 6px;
  margin-bottom: 5px;
  overflow: hidden; 
  background-color: #c6c5c5;
}

.post-images img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  display: block;

}

.post-location {
  display:flex;
  margin-inline: 3px;
  margin-top: 165px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.post-location > img {
  display: flex;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;

}

.post-title {
  font-weight: bold;
  font-size: 8px;
  color: #000000;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}


.interest-menu {
  display: flex;
  padding: 5px 0px;
  white-space: nowrap;
}

.views {
  display: flex;
  align-items: center;
}

.views span {
  font-size: 10px;
  font-weight: bold;
  transform: scale(0.75);
  transform-origin: left;
}

.hearts{
  display: flex;
  align-items: center;
}

.hearts span {

  color: red;
  font-size: 10px;
  transform: scale(0.75);
  transform-origin: left;
  font-weight: bold;
}
.views img {
  width: 17px;
  height: 17px;
}

.hearts img {
  width: 11px;
  height: 11px;
}


img {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.time-ago {
  width: 100%;
  display: flex;
  color: #ffb300;
  transform: scale(0.75);
  transform-origin: right;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 768px) {
  .post {
    max-width: 100%;
    min-width: 100%;
  }
}

@media (min-width: 1024px) {
  .post {
    max-width: 100%;
    min-width: 100%;
  }
}