.button {
    padding: 5px 0px;
    border-radius: 200dvh;
    border-width: 1px;
    border-style: solid;
    border-color: #FAA500;
    background-color: #FAA500;;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(255, 130, 0, 0.479); /* 그림자 추가 */
    
    box-shadow: none;

    
    font-weight: bold;
    font-size: 14px;
    
    cursor: pointer;
}

.button .button-text {
    align-items: center;
}

.button > div {
    padding: 3px 20px;
    
}


