.searchMap-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  height: 50px;
}

.search-back-button {
  margin-right: 10px;
  margin-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-back-image {
  display: flex;
  align-items: center;
  width: 20px; /* 뒤로가기 버튼 이미지 크기 조정 */
  height: 20px;
}

.searchMap-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 12px;
  border: none;
}

.searchMap-button {
  margin-left: 10px;
  padding: 10px 20px;
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-512.png')
    no-repeat center;
  background-size: 20px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.searchMap-button:hover {
  opacity: 0.8; /* 마우스 오버 시 투명도 조정 */
}

.history-container {
  flex: 1;
  padding: 10px;
}

.history-container h3 {
  margin: 0 0 10px 0;
}

.history-container ul {
  list-style-type: none;
  padding: 0;
}

.history-container li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  color: black; /* 글자색을 검정색으로 설정 */
  transition: background-color 0.3s; /* 부드러운 배경색 전환 효과 */
  height: 40px;
}

.history-container li:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.search-marker-image {
  width: 20px; /* 마커 이미지의 너비 조절 */
  height: 20px; /* 마커 이미지의 높이 조절 */
  margin-right: 8px; /* 아이콘과 글자 사이의 간격 */
}

.Sdelete-button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 10px;
  width: 20px; /* 버튼의 너비를 조절 */
  height: 20px; /* 버튼의 높이를 조절 */
}

.Sdelete-button:active {
  background: none;
}

.Search-reco {
  position: absolute;
  top: 50px; /* 검색창의 높이만큼 떨어지게 조정 (50px + padding) */
  left: 0; /* 왼쪽 정렬 */
  right: 0; /* 오른쪽 정렬 추가 */
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

.Search-reco li {
  padding: 10px; /* 각 항목의 여백 */
  cursor: pointer; /* 포인터 커서 */
  transition: background-color 0.3s; /* 배경 색상 변화 애니메이션 */
}

.Search-reco li:hover {
  background-color: #f0f0f0; /* 마우스 오버 시 배경색 변화 */
}

@media (max-width: 550px) {
  .searchMap-input {
    font-size: 13px;
  }
}

@media (max-width: 415px) {
  .searchMap-input {
    font-size: 11px;
  }
}
