.button {
    padding: 10px;
    border-radius: 200dvh;
    border-style: solid;
    border-color: #FAA500;
    background-color: #FF8A00;
    color: #FFFFFF;
    box-shadow: 1px 2px 5px rgba(178, 94, 4, 0.763); /* 그림자 추가 */
    font-weight: bold;
    font-size: 16px;  
    cursor: pointer;
}

.button .button-text {
    align-items: center;
}

.button > div {
    padding: 2px auto;
    
}


