/* 기본 스타일 */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding: 20px 0;
    font-size: 20px;
    position: relative; /* 필요에 따라 컨텍스트에서 사용할 수 있도록 position relative 유지 */
}

.homebutton_section > button {
    display: flex;
    align-items: center;
    border-width: 0;
    font-weight: bold;
    color: #FAA500;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    margin-inline: 15px;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.homebutton_section {
    flex-basis: 20%; /* 좌측 섹션의 너비 설정 */
    text-align: left;
}

.rightbutton_section {
    flex-basis: 20%; /* 우측 섹션의 너비 설정 */
    text-align: right;
}

.rightbutton_section button {
    color: blue;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

/* 화면 크기가 768px 이하일 때 적용되는 스타일 */
@media (max-width: 768px) {
    .title {
        font-size: 15px;
    }

    .homebutton_section {
        font-size: 25px;
    }
}

/* 화면 크기가 480px 이하일 때 적용되는 스타일 */
@media (max-width: 480px) {
    .title {
        font-size: 15px;
    }

    .homebutton_section,
    .rightbutton_section {
        font-size: 15px;
    }
}
